<div class="box1">
  <div class="box2">
    <div class="firstdiv">
      <img src="https://pluspng.com/img-png/google-logo-png-revised-google-logo-1600.png">
      <div class="logo">
        <p id="logo1">Recover your password</p>
        <p>Enter your gmail for validation</p>
      </div>
    </div>
    <div class="seconddiv">
      <form [formGroup]="forgotForm" (ngSubmit)="ForgotSubmit()">
      <div class="reset">
        <input matInput id="emailphone" type="text" placeholder="Email" formControlName="email"/>
        <!-- <mat-error *ngIf="forgotForm.hasError('required','email')">
          email is Required!
        </mat-error>
        <mat-error *ngIf="forgotForm.hasError('email','email')">
          email is not valid!
        </mat-error> -->
      </div>
      <div class="sendbutton">
        <button mat-raised-button color="primary" >Send</button>
      </div>
      </form>
    </div>
  </div>
</div>
