<div class="box1">
    <div class="box2">
      <div class="topwhole">
        <span class="material-symbols-outlined">
          menu
        </span>
        <span class="toptext">CHATS</span>
        <span class="toptext">CALLS</span>
        <span id="search" class="material-symbols-outlined">
          search
        </span>
      </div>

      <div class="downwhole">
        <div class="insidename">
          <div class="blackcircle"></div>
          <div class="textname">
            <span>Your Name</span>
            <br>
            <span>ipsum dolor, sit yes no...</span>
          </div>
        </div>
        <br>
        <div class="insidename">
          <div class="blackcircle"></div>
          <div class="textname">
            <span>Your Name</span>
            <br>
            <span>ipsum dolor, sit yes no...</span>
          </div>
        </div>
        <br>
        <div class="insidename">
          <div class="blackcircle"></div>
          <div class="textname">
            <span>Your Name</span>
            <br>
            <span>ipsum dolor, sit yes no...</span>
          </div>
        </div>
        <br>
        <div class="insidename">
          <div class="blackcircle"></div>
          <div class="textname">
            <span>Your Name</span>
            <br>
            <span>ipsum dolor, sit yes no...</span>
          </div>
        </div>
        <br>
        <div class="insidename">
          <div class="blackcircle"></div>
          <div class="textname">
            <span>Your Name</span>
            <br>
            <span>ipsum dolor, sit yes no...</span>
          </div>
        </div>
        <br>
        <div class="insidename">
          <div class="blackcircle"></div>
          <div class="textname">
            <span>Your Name</span>
            <br>
            <span>ipsum dolor, sit yes no...</span>
          </div>
        </div>
        <br>
        <div class="insidename">
          <div class="blackcircle"></div>
          <div class="textname">
            <span>Your Name</span>
            <br>
            <span>ipsum dolor, sit yes no...</span>
          </div>
        </div>
        <br>
        <div class="insidename">
          <div class="blackcircle"></div>
          <div class="textname">
            <span>Your Name</span>
            <br>
            <span>ipsum dolor, sit yes no...</span>
          </div>
        </div>
        <br>
        <div class="insidename">
          <div class="blackcircle"></div>
          <div class="textname">
            <span>Your Name</span>
            <br>
            <span>ipsum dolor, sit yes no...</span>
          </div>
        </div>
      </div>
    </div>

      <div class="box3">
        <div class="topwhole2">
          <span class="material-symbols-outlined">
            arrow_back
          </span>
          <div class="blackprofile"></div>
          <div class="yourname">
            <span>Your Name</span>
            <br>
            <span id="members">3 members</span>
          </div>
          <span id="morevert" class="material-symbols-outlined">
            more_vert
          </span>
        </div>
      </div>
</div>
